---
import Visor360 from '../components/Visor360.astro';
import Visor360AFrame from '../components/Visor360AFrame.astro';
import Visor360Estudios from '../components/Visor360Estudios.astro';
import Layout from '../layouts/Layout.astro';

---
<Layout>
	<main>
		<Visor360Estudios />
		<!-- <Visor360AFrame /> -->
	</main>
</Layout>
