---
import Visor360 from '../components/Visor360.astro';
import Visor360FrameGuiado from '../components/Visor360FrameGuiado.astro';
import Layout from '../layouts/Layout.astro';

---
<Layout>
	<main>
		<!-- <Visor360 /> -->
		<Visor360FrameGuiado />
	</main>
</Layout>