---
import Visor360 from '../components/Visor360.astro';
import Visor360AFrame from '../components/Visor360AFrame.astro';
import Layout from '../layouts/Layout.astro';

---
<Layout>
	<main>
		<!-- <Visor360 /> -->
		<Visor360AFrame />
	</main>
</Layout>
